Demo_AI_Chatbot_Webhook_Gemini (1).json
{
  "name": "Demo_AI_Chatbot_Webhook_Gemini",
  "nodes": [
    {
      "parameters": {
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3e805fcc-5fd9-4517-8f96-1bf00bca8569",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        736,
        -48
      ],
      "webhookId": "chatbot"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $json.query.chat }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b59a077e-2771-4bcc-baa4-e5832c58f5a3",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        992,
        -48
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $json.query.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional AI customer support assistant for a modern technology company.\n\nYour responsibilities:\n\n* Help users politely and professionally\n* Give short, human-like, and helpful answers\n* Sound natural and conversational\n* Maintain a friendly business tone\n* Guide users clearly step-by-step when needed\n\nRules:\n\n* Reply only in plain text\n* Do not use markdown, JSON, code blocks, or bullet points unless necessary\n* Keep answers concise and easy to understand\n* Never say \"As an AI language model\"\n* If company-specific data is unavailable, politely guide the user to customer support or account portal\n* Make responses sound confident, modern, and customer-friendly\n* Always greet the user politely and end responses positively.\n"
            }
          ]
        }
      },
      "id": "e5826176-4981-48e1-a7d0-6d3ba5aee9f0",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        1248,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b299022b-90b8-4e08-b40f-cc95efddb925",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        176
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "25OX6bL9F4dp0Bpx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "62a9235c-065c-4f7b-bdd2-706bec6208b8",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1552,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a2475972-cbdc-4d97-8819-e96a2409e85c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1904,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e13cc16-8e88-43be-a6ef-cd41f0ed8697",
              "name": "reply",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        -48
      ],
      "id": "b31cbf88-69fb-4bf5-8279-7c7343433d7e",
      "name": "Format Reply1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "Format Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c10865cf-52ee-425f-82d3-72067fc399e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0a35aa7f7cba76319fa96f70d7d2ac238782dda19f0e594cede47b091abab2"
  },
  "id": "MqXT1PJqTtZ7FOiB",
  "tags": []
}